[submodule "colmap"]
	path = colmap
	url = https://github.com/colmap/colmap
[submodule "openMVS"]
	path = openMVS
	url = https://github.com/cdcseacave/openMVS
[submodule "VCG"]
	path = VCG
	url = https://github.com/cdcseacave/VCG
[submodule "gklib"]
	path = gklib
	url = https://github.com/KarypisLab/gklib
[submodule "metis"]
	path = metis
	url = https://github.com/KarypisLab/metis
