on:
  # Trigger the action manually from the UI
  workflow_dispatch:
  # Trigger the action when pushing to certain branches
  push:
  pull_request:

jobs:
  build-and-push:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
        with:
          submodules: "true" # Recursive is broken due to glomap (not required anyway)

      - run: |
          echo "DOCKER_IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          IMAGE_DATE="$(date +'%Y-%m-%d')"
          git submodule foreach --recursive 'git fetch --tags'
          COLMAP_DESC="$(git -C colmap tag --list --sort=-authordate | head -n 1)-$(git -C colmap rev-parse --short HEAD)"
          OPENMVS_DESC="$(git -C openMVS tag --list --sort=-authordate | head -n 1)-$(git -C openMVS rev-parse --short HEAD)"
          echo "IMAGE_TAG=${IMAGE_DATE}-colmap-${COLMAP_DESC}-openmvs-${OPENMVS_DESC}" >> $GITHUB_ENV
          
      - uses: "docker/setup-buildx-action@v3"

      - uses: "docker/login-action@v3"
        with:
          username: "yeicor"
          password: "${{ secrets.DOCKERHUB_TOKEN }}"
          
      - uses: "docker/build-push-action@v6"
        with:
          context: "."
          file: "./Dockerfile"
          push: "${{ github.ref == 'refs/heads/main' }}"
          tags: |
            ${{ env.DOCKER_IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.DOCKER_IMAGE_NAME }}:latest
          cache-from: "type=registry,ref=${{ env.DOCKER_IMAGE_NAME }}:buildcache"
          cache-to: "type=registry,ref=${{ env.DOCKER_IMAGE_NAME }}:buildcache,mode=max"

